## 0. Load imports

In [3]:
## imports
import pandas as pd
import numpy as np


## print multiple things from same cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## 0. Load data

In [5]:
## load data on 2020 crimes in DC
df = dc_crim_2020 = pd.read_csv("https://opendata.arcgis.com/datasets/f516e0dd7b614b088ad781b0c4002331_2.csv")
dc_crim_2020.head()
dc_crim_2020.shape
dc_crim_2020.info()

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,BLOCK_GROUP,CENSUS_TRACT,VOTING_PRECINCT,LATITUDE,LONGITUDE,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID
0,-77.044182,38.905654,11139598,2020/08/24 04:00:00+00,MIDNIGHT,OTHERS,HOMICIDE,1900 - 1999 BLOCK OF M STREET NW,396168.0,137533.0,...,010700 1,10700.0,Precinct 17,38.905646,-77.044180,GOLDEN TRIANGLE,2011/09/23 06:40:00+00,NaN,594430168,NaN
1,-77.023981,38.900345,5370,2020/01/17 02:39:05+00,EVENING,OTHERS,THEFT F/AUTO,800 - 899 BLOCK OF 9TH STREET NW,397920.0,136943.0,...,005802 5,5802.0,Precinct 129,38.900337,-77.023979,DOWNTOWN,2020/01/11 02:48:51+00,2020/01/17 02:48:54+00,594430173,NaN
2,-76.972651,38.857491,10251445,2020/09/11 04:00:00+00,MIDNIGHT,GUN,HOMICIDE,2300 - 2399 BLOCK OF AINGER PLACE SE,402374.0,132186.0,...,007502 1,7502.0,Precinct 134,38.857483,-76.972648,NaN,2010/09/02 04:00:00+00,2010/09/02 04:00:00+00,594430178,NaN
3,-76.972226,38.854086,10147537,2020/12/21 05:00:00+00,MIDNIGHT,OTHERS,HOMICIDE,2300 - 2499 BLOCK OF HARTFORD STREET SE,402411.0,131808.0,...,007408 2,7408.0,Precinct 115,38.854078,-76.972223,NaN,2010/10/10 02:00:00+00,NaN,594431372,NaN
4,-77.001753,38.821632,18048023,2020/10/21 04:00:00+00,MIDNIGHT,OTHERS,HOMICIDE,4600 - 4799 BLOCK OF SOUTH CAPITOL STREET,399848.0,128205.0,...,009811 1,9811.0,Precinct 125,38.821624,-77.001750,NaN,2018/03/26 08:40:06+00,2018/03/26 10:04:44+00,594431711,NaN

(27931, 25)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27931 entries, 0 to 27930
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   X                     27931 non-null  float64
 1   Y                     27931 non-null  float64
 2   CCN                   27931 non-null  int64
 3   REPORT_DAT            27931 non-null  object
 4   SHIFT                 27931 non-null  object
 5   METHOD                27931 non-null  object
 6   OFFENSE               27931 non-null  object
 7   BLOCK                 27931 non-null  object
 8   XBLOCK                27931 non-null  float64
 9   YBLOCK                27931 non-null  float64
 10  WARD                  27931 non-null  int64
 11  ANC                   27931 non-null  object
 12  DISTRICT              27902 non-null  float64
 13  PSA                   27896 non-null  float64
 14  NEIGHBORHOOD_CLUSTER  27931 non-null  object
 15  BLOCK_GROUP           27930 non-null  object
 16  CENSUS_TRACT          27930 non-null  float64
 17  VOTING_PRECINCT       27931 non-null  object
 18  LATITUDE              27931 non-null  float64
 19  LONGITUDE             27931 non-null  float64
 20  BID                   4658 non-null   object
 21  START_DATE            27931 non-null  object
 22  END_DATE              24850 non-null  object
 23  OBJECTID              27931 non-null  int64
 24  OCTO_RECORD_ID        0 non-null      float64
dtypes: float64(10), int64(3), object(12)
memory usage: 5.3+ MB

<bound method IndexOpsMixin.value_counts of 0        MIDNIGHT
1        MIDNIGHT
2         EVENING
3        MIDNIGHT
4        MIDNIGHT
           ...
27926    MIDNIGHT
27927     EVENING
27928    MIDNIGHT
27929     EVENING
27930     EVENING
Name: SHIFT, Length: 27931, dtype: object>

#### Warm-up: Ways to add 100 to column X

In [44]:
new_list= []

for x in df.X:
    new_list.append( x+100 )
new_list

[23.0277743201099,
 23.027349355854895,
 22.9760189542681,
 22.969212309657394,
 22.9982473585021,
 22.931515745925296,
 23.0135189246987,
 23.012968498981493,
 22.979466838560597,
 22.971910835289094,
 23.022729869064506,
 22.974419426582998,
 23.009750635479406,
 22.993179761607607,
 22.946679674670605,
 23.0110888378003,
 22.924685126253294,
 22.990969655316505,
 22.9745604224817,
 23.056544517350403,
 22.969122784452594,
 22.9360797686288,
 22.966889332401095,
 22.9289869175595,
 22.937994569773096,
 22.970264076921694,
 22.9868202977151,
 23.0136259468551,
 23.062499762825,
 22.936000071734497,
 23.078692631851297,
 22.993697138990598,
 23.0086006846373,
 22.9511641842348,
 23.005635019943597,
 23.067799476679298,
 23.000528069806194,
 22.920053111988096,
 22.970300957656804,
 22.997217095818797,
 23.019607071080102,
 22.996404047190694,
 23.046864577912004,
 22.975163857288607,
 23.0160247161092,
 22.976016903678797,
 22.979085315727005,
 22.939542794743005,
 23.0004817710562,
 22.9644514818374,
 22.997230163574898,
 22.9721146963861,
 22.939855159173206,
 23.032217691250594,
 23.033768412466102,
 22.961996143338197,
 22.9702994561094,
 22.997956538651806,
 22.9725690120017,
 23.020977825156905,
 22.9758225845475,
 22.999421799382603,
 23.026015084604495,
 23.0620992909717,
 23.031930498872498,
 23.072574676445,
 23.072574676445,
 23.000435839455903,
 22.966754006009097,
 23.025820089038604,
 22.987953354511006,
 23.017058649363605,
 23.0401751073219,
 22.9917809303938,
 22.9349690358883,
 23.006785853529493,
 22.9734829334122,
 23.022466569081004,
 22.968200365104494,
 23.005022829331295,
 23.003824765677294,
 23.0015421440674,
 22.9450314512369,
 23.045185097126407,
 22.967267150966606,
 22.9755200457908,
 22.927119934299697,
 22.9703744898966,
 23.068730287833702,
 23.027674041535903,
 23.059088584513603,
 22.981964023383497,
 23.024798051269002,
 23.018440538536595,
 22.904591625294998,
 22.973700540349597,
 22.972430485993996,
 22.988318730383796,
 23.059980403879294,
 22.958318532270397,
 22.983073726370804,
 22.995696639684297,
 22.9061755771,
 22.973663582250197,
 22.982694374126197,
 22.977054065429996,
 22.973476545502706,
 23.0266152784002,
 22.976293608105394,
 23.002671701667396,
 22.9680309992697,
 22.967406160157395,
 22.990955593016295,
 22.975010921669295,
 22.919694490940103,
 23.009684136194807,
 23.016163680904,
 23.014386779612906,
 22.982797522237206,
 22.970364089460304,
 23.064624989735094,
 22.992775224964504,
 22.999951590865294,
 22.967266605061198,
 22.9624798939836,
 23.007353063813795,
 22.932161197489506,
 23.021003648645205,
 22.964580403716297,
 22.982796557522406,
 22.9679006540553,
 22.966753485241995,
 22.990944690924593,
 23.022830356164306,
 22.981257093085205,
 22.962465633495995,
 22.966637052954496,
 22.9760279393835,
 22.994481689177306,
 22.994968355256702,
 23.064204277653204,
 22.938042939484006,
 23.001494870795,
 23.0130822551604,
 23.0290688685256,
 23.002683685888798,
 22.989368688923904,
 22.983246522650504,
 23.000965055865294,
 22.997913200872006,
 22.994481689177306,
 22.967647131999797,
 22.919694490940103,
 23.050032803218897,
 22.989841017833896,
 23.0690202928607,
 23.012219205582696,
 23.084953008331098,
 23.016067356766,
 23.061559089875004,
 22.958713758245295,
 23.000989469506095,
 22.972339213897897,
 22.977252620085807,
 22.969210096729498,
 22.948580487232704,
 22.973476545502706,
 23.013081506932807,
 22.971616976684402,
 23.013749012891694,
 22.969185614072998,
 23.002683793577503,
 23.074470700544097,
 23.0038098169382,
 22.984446192010495,
 23.013913536635698,
 22.974998446844793,
 22.9717653363292,
 22.999951601900307,
 22.968961944163297,
 23.0464098965561,
 22.996423418034396,
 22.958697290427494,
 23.018774440392804,
 23.031241617339106,
 22.945691139783605,
 22.957449825978102,
 22.968036403591995,
 23.0162058151176,
 22.9703744898966,
 23.064144081336295,
 22.912576130862902,
 22.9994099134433,
 22.991107475352905,
 22.9891370541216,
 22.9729548960309,
 22.945659048058303,
 22.990956003136205,
 22.919694490940103,
 22.985664654916107,
 23.029163200652604,
 22.9651192736239,
 23.002834483936795,
 22.904206956235498,
 23.034385889127194,
 23.006236356817496,
 23.034662946570805,
 23.033715392541694,
 22.990899777055105,
 23.046397097571898,
 23.0455132940085,
 22.9909453102738,
 22.995499902383003,
 22.9855640556312,
 23.021452804856096,
 22.939320400657095,
 22.977054065429996,
 22.928952910826496,
 22.9692066333766,
 22.905037476906898,
 23.006847596660407,
 23.015180390692393,
 22.9480916975441,
 22.978072483858497,
 22.968639514636607,
 22.967267150966606,
 23.020105994446396,
 22.9654317379445,
 23.021949797659204,
 23.016329400609195,
 22.972235824485097,
 22.9692004605333,
 22.965397660522598,
 22.988331145150894,
 22.972093597329604,
 22.976206676926495,
 22.966561429870893,
 22.936000071734497,
 22.939320400657095,
 22.974253303573903,
 22.969138560298404,
 22.9941064606314,
 23.014949558125394,
 22.9941063087373,
 23.026791103823697,
 22.9693908697639,
 22.966212302096395,
 23.024038393705894,
 22.989841017833896,
 23.034863669342897,
 22.975591403116496,
 22.924685126253294,
 23.034159814805705,
 22.937199598065206,
 22.979075177475494,
 22.969699481549597,
 22.999455570819507,
 23.0151229366936,
 23.017270942470304,
 22.9770444032269,
 23.006236356817496,
 23.003989115122906,
 23.022815146204906,
 22.914698108455994,
 22.956534720113396,
 22.969532051002403,
 22.977035009413697,
 22.966417462142104,
 22.960108007390204,
 22.955818948909297,
 23.017056480705307,
 23.0270775484656,
 22.969144644264503,
 23.014861554156496,
 22.996481230310494,
 23.002834483936795,
 22.941917163548496,
 23.068332871729297,
 22.956534720113396,
 22.990956003136205,
 22.958714368638994,
 22.982439355988106,
 22.970263257836393,
 22.966734368876203,
 23.005335189707907,
 22.941876884269305,
 23.017306684769693,
 23.034159814805705,
 23.063174709933506,
 23.033558195908896,
 22.9522292263688,
 22.980944550438807,
 22.999421300429006,
 22.971131417150005,
 23.062138216937697,
 23.017056297676007,
 22.936000071734497,
 22.996481230310494,
 22.927988578372407,
 23.026035526223396,
 23.034205461751398,
 23.017982258268603,
 22.996423418034396,
 22.975406449251295,
 23.018497826757894,
 23.0707639447879,
 22.9997440673161,
 22.973126183637703,
 22.991925121301094,
 23.067275134679903,
 23.073335536531303,
 23.025809887603998,
 23.056543931837098,
 23.0062347184125,
 22.999951603531898,
 23.0242592731377,
 22.959116582078295,
 22.981701822589798,
 23.005022414802497,
 22.978077724061507,
 22.928095107191794,
 23.024278063426905,
 23.022072928815206,
 23.005622761330997,
 22.961607874142302,
 23.010065316706104,
 22.973003334239706,
 22.997219572324298,
 22.994131875875198,
 22.998591127416702,
 22.989867999024995,
 23.029897897549304,
 23.015406867992994,
 22.982432471261703,
 22.9785967140826,
 22.975560222315494,
 23.074370243752597,
 22.9599094122174,
 22.967406160157395,
 22.9591862178182,
 22.966346548385104,
 22.971125669003897,
 23.023135357451494,
 23.000482065567297,
 22.977051062433603,
 22.972929752471103,
 22.998638459561107,
 22.9777134712904,
 22.9909369699959,
 22.987067794583893,
 23.006847596660407,
 23.010461098154494,
 22.9614071457935,
 22.9850697464921,
 23.024881592026205,
 23.062499762825,
 22.973471200872496,
 22.936412707420402,
 22.916444341630097,
 22.988238793999898,
 23.022641538130102,
 22.969138560298404,
 22.9925153254311,
 22.965397660522598,
 22.996492110341094,
 22.974001842064,
 22.9986836696102,
 23.0332446848751,
 23.0157456654443,
 23.001243566849993,
 23.0146060578399,
 23.0026716113385,
 23.000101375051003,
 22.923451344851898,
 23.029163200652604,
 22.977051836447103,
 22.981256539275094,
 22.974253303573903,
 23.015408955105002,
 22.9591802603627,
 23.005635019943597,
 23.017197461123402,
 22.974011374614605,
 23.009843708038105,
 22.9417889508467,
 22.968603533601396,
 23.0337868917385,
 22.966808176481507,
 23.007905628716202,
 22.929324999353796,
 22.967406160157395,
 22.969198873164203,
 23.026720144857507,
 22.978071356752693,
 23.005011217203602,
 22.987069494089297,
 23.080839553976304,
 22.968037953868404,
 22.924571015541105,
 22.968789889078593,
 22.916232498435093,
 22.954406700069796,
 23.002683662862196,
 23.033241709296405,
 22.971537876605495,
 23.030053696778594,
 22.956390738548606,
 22.990293831041,
 23.006236356817496,
 23.002683880615294,
 23.058598672895897,
 22.982434764656006,
 22.978077724061507,
 22.9610199654292,
 23.067275134679903,
 22.965101467895494,
 23.009652448691,
 22.960547803758203,
 23.009201951121597,
 22.9330594346398,
 22.989400138028103,
 22.9912071492259,
 22.9914425260569,
 23.0113726391574,
 22.905285132885098,
 22.989368688923904,
 23.003730038109495,
 22.987816888152807,
 23.015007906936006,
 22.971538473460697,
 22.968432162649606,
 22.971133043227994,
 22.977602656682393,
 22.975727767486802,
 23.006236356817496,
 23.008163384864204,
 22.995696759869006,
 22.945659048058303,
 23.032133712284093,
 22.961142811712705,
 23.026901687543898,
 22.925173041458805,
 22.959908758999006,
 23.000458508312704,
 23.009571187201203,
 22.920053111988096,
 22.997219572324298,
 23.0131132899582,
 23.068925548694395,
 23.017335342319598,
 23.041116904041104,
 22.957420714816095,
 22.968042071059998,
 23.017056480705307,
 22.990991185709802,
 22.968035075240806,
 23.023886602483202,
 23.013640614162995,
 22.9005694672486,
 22.975062100029504,
 23.037544054395497,
 23.0573781562114,
 22.966889332401095,
 23.011564597379603,
 22.9746687236987,
 22.9917809303938,
 22.919071589662394,
 22.9537979900158,
 22.985053842789,
 23.041116904041104,
 22.937994569773096,
 23.029623791307102,
 22.929715634411394,
 22.955818948909297,
 22.982694374126197,
 22.996404628183,
 23.009345357212098,
 23.012643954210503,
 23.034975822210995,
 23.024881592026205,
 22.989337791559805,
 23.070026476494405,
 22.966734368876203,
 22.941917163548496,
 23.004411734730198,
 23.0091027605431,
 23.013724389940194,
 23.035210343839907,
 22.970288942311896,
 22.995763227999504,
 23.0154099200749,
 22.972958401175603,
 22.968036403591995,
 22.9611364048438,
 22.9941063087373,
 22.955111213839004,
 23.003989115122906,
 22.994106549977204,
 22.955450233760402,
 22.931827511891697,
 23.083584546865794,
 23.009105016553704,
 22.988908252138998,
 23.025163278344806,
 22.972444970446404,
 22.970279932722406,
 23.010262895185406,
 22.978007133678005,
 22.921823045390497,
 22.959402062708193,
 22.983811693970097,
 23.011124261276805,
 22.990950899955706,
 22.978837951085495,
 22.989137132336893,
 22.995524422449805,
 22.956526204849297,
 22.980076898493806,
 23.025609570521198,
 22.963508773007206,
 22.956390738548606,
 22.973408214356,
 23.068730287833702,
 23.050032803218897,
 23.0184975348416,
 22.975120957251505,
 22.973475731300397,
 22.968812772823796,
 22.959116582078295,
 23.0136259468551,
 23.021232924406803,
 22.952144684004693,
 22.966571801434895,
 22.992637122843604,
 23.057073904933603,
 23.017270942470304,
 22.9703744898966,
 22.9986721074453,
 22.914698108455994,
 22.974900417599997,
 23.012811088571,
 23.064808986091904,
 22.972958401175603,
 22.904648315859603,
 23.0835812750894,
 22.9760279393835,
 23.018440538536595,
 22.963491293590806,
 23.075337485474606,
 23.030122645881406,
 22.961499266808403,
 22.959696244804107,
 23.072298319499097,
 22.923547788835194,
 23.0614007776784,
 22.939879658872897,
 22.994106381707,
 22.973481928701204,
 22.973482551630994,
 22.938284529037404,
 22.972957922944303,
 22.987833487440795,
 22.990278226549407,
 23.018510823284103,
 23.022847789067796,
 23.002683880615294,
 22.989749708286894,
 22.974929944677996,
 23.048970677030795,
 23.009350765612297,
 22.9734829334122,
 22.971169173319097,
 23.021811645475296,
 22.987084827163798,
 22.968037953868404,
 23.017681699821395,
 22.981026762752094,
 22.994882868740603,
 22.967267150966606,
 23.0261305027648,
 22.9251069297012,
 23.038478114315495,
 22.937426786465394,
 22.937994569773096,
 22.9737892934251,
 22.9403234114108,
 22.959947710172898,
 22.9250396591748,
 22.9724310013563,
 22.934901476262695,
 22.971133043227994,
 23.0157456654443,
 22.962629094620496,
 23.065738136319396,
 22.976206676926495,
 22.983231621693406,
 22.976535455538794,
 22.947502817386706,
 22.959116582078295,
 22.935964724439202,
 22.972040604757396,
 23.0160598148816,
 23.002683402823806,
 23.034855827185595,
 23.0121238095316,
 22.972040604757396,
 22.959116582078295,
 23.070616958780903,
 23.045184657810694,
 23.068609693026602,
 22.9982901564059,
 23.032534305777702,
 23.0091053119981,
 23.035411345399893,
 22.9806643355992,
 22.985540849301202,
 22.978077724061507,
 23.015324052350906,
 22.929980388068998,
 23.061519789284503,
 23.071872309677403,
 22.970301400584304,
 22.961510393229602,
 22.999594540751104,
 22.9964817780603,
 22.989658434140907,
 22.931827511891697,
 22.9644210269567,
 23.021656238220004,
 23.009684136194807,
 22.954218600699903,
 22.9982473585021,
 23.019923238784003,
 22.964726328494905,
 22.9252053094241,
 22.929980388068998,
 23.027930607290003,
 22.971143324360995,
 23.039368332995707,
 22.972343891510107,
 23.0770444166086,
 22.9584044931713,
 22.931515745925296,
 23.072531937977203,
 23.020749954760007,
 22.963499795163997,
 23.019309458406994,
 23.0784371571944,
 22.983267766245007,
 22.9857531794824,
 23.006788062978302,
 23.006104496105905,
 22.929312831897803,
 23.0770444166086,
 23.022790223425503,
 23.005634497150993,
 22.9912071492259,
 23.035953596839093,
 22.990956706027106,
 22.991605519572502,
 22.9994554758526,
 22.9604693280654,
 23.086324741534398,
 22.9990515690842,
 22.938042939484006,
 22.9941063087373,
 23.0358033774979,
 23.067525126366107,
 23.013086410665096,
 23.052232712122105,
 22.973482551630994,
 23.01439896027,
 23.004415017831604,
 22.959692748333396,
 22.974609442383695,
 23.0205542777921,
 23.048991989330503,
 22.966637052954496,
 23.027435402888997,
 22.961130281729496,
 23.010995961080198,
 23.071856694090698,
 22.981055074676604,
 22.9408879500552,
 22.998683746681394,
 22.972437914597506,
 22.931515745925296,
 22.974316266956393,
 22.971135764133194,
 22.996306583431206,
 23.006591020804294,
 23.030757196673207,
 22.9878831324242,
 23.039890049194497,
 23.039380966562902,
 23.021634072172702,
 23.002105813404597,
 22.9980515588188,
 23.034159814805705,
 23.055620531791504,
 23.003815041543504,
 23.020968558440003,
 23.002683640174496,
 23.017784240561,
 22.9624898650016,
 23.024125718892506,
 22.961661983731204,
 22.936000071734497,
 22.975013579256895,
 22.9724310013563,
 23.059088584513603,
 23.086326507390993,
 23.006807279463402,
 23.017982258268603,
 23.0107189684571,
 22.9960708536874,
 22.967267150966606,
 23.051272699141705,
 23.063955239716194,
 23.009652448691,
 22.9783963118809,
 22.929967206279898,
 23.026015084604495,
 23.0158936656873,
 22.978822907079405,
 22.974011374614605,
 23.078692631851297,
 22.998728614304596,
 22.9729501268791,
 23.0286701189344,
 22.968789889078593,
 22.9360797686288,
 22.899901678383102,
 22.992629479622494,
 22.941917163548496,
 22.975010921669295,
 22.957045594077798,
 23.001494870795,
 22.958138552284097,
 23.006807279463402,
 23.0160247161092,
 23.007350673157603,
 22.969198873164203,
 22.9809334744062,
 22.912569192097095,
 22.959931100711202,
 23.086326507390993,
 22.996447026263297,
 22.918833183952103,
 22.9680447328426,
 22.979074096608898,
 23.0237761875957,
 22.977038861422002,
 22.974992175656695,
 23.017982258268603,
 22.975591403116496,
 23.015101290991396,
 23.001379671873295,
 22.990956003136205,
 22.954215617117498,
 22.9617121688227,
 23.0290688685256,
 23.034159814805705,
 22.962465633495995,
 22.9346471349086,
 23.000435839455903,
 23.031797511752103,
 22.999940095008597,
 22.9760307882639,
 23.0557904489135,
 22.974230139522604,
 22.999421775147397,
 23.007562973381596,
 23.040934905234394,
 23.0277743201099,
 23.027323344330398,
 23.068990375670694,
 22.9746882834001,
 23.0678094042555,
 23.0160598148816,
 23.020136378658705,
 22.998683551405705,
 22.966735494898202,
 22.973382171771405,
 22.904591625294998,
 23.0004583970007,
 23.059292676012305,
 22.9644376200238,
 22.951183332061703,
 23.0099611632438,
 22.987811694456795,
 23.0130822551604,
 23.008393876222897,
 22.974991600807698,
 22.9658455609446,
 23.027073681036995,
 22.968035741449,
 22.947636550219002,
 22.899901678383102,
 23.021656238220004,
 22.975028574923797,
 23.081533392065595,
 23.0173825474743,
 22.972444970446404,
 22.979096149716895,
 22.9749924283292,
 22.914698108455994,
 22.972040604757396,
 22.978071356752693,
 22.9703000680083,
 23.000481843378196,
 22.985906683257596,
 23.012918870870607,
 22.975193257364893,
 22.9732616619621,
 22.966744172234897,
 22.9716165822407,
 22.970371155605406,
 23.0134309153934,
 22.9941063087373,
 23.015957208517705,
 23.065757200522597,
 22.966734368876203,
 22.974420902062207,
 22.971537876605495,
 22.962510614604398,
 22.972448192905105,
 22.936000071734497,
 22.968034417080602,
 22.971269032562105,
 23.038538944900594,
 23.0684740742892,
 22.969209151568407,
 23.0064134694217,
 22.971496161503197,
 22.968037953868404,
 23.048029870093103,
 23.0147099381023,
 22.972683879212397,
 22.952222366599898,
 22.957019730338203,
 23.0173825474743,
 23.010925099919305,
 23.0209989205854,
 22.995379313292105,
 22.972143955784603,
 23.025163278344806,
 23.002671701667396,
 22.933060229346395,
 22.972431617676605,
 22.974721765214,
 23.019446794484693,
 23.008458872978807,
 23.012252484003398,
 22.973292474895402,
 23.019607071080102,
 22.977563907024603,
 23.009750464361204,
 22.991792227666494,
 23.062499762825,
 23.0751043990513,
 23.048970677030795,
 22.967267150966606,
 22.897759704533698,
 23.0170441196355,
 22.9587072480697,
 22.9543913271698,
 23.0770444166086,
 23.065823720006406,
 23.041065736601595,
 22.978592646908098,
 23.059722761803897,
 22.916929908755606,
 22.959377972734202,
 22.952277226046107,
 22.943690617178106,
 23.0419421285183,
 22.978339601760496,
 22.9862712383361,
 22.969698459323993,
 23.029897897549304,
 22.986077089085995,
 23.028816517633103,
 22.972040604757396,
 22.973481315790096,
 22.959116582078295,
 23.0132168173902,
 22.971497452464504,
 22.971384774624397,
 23.0056352554097,
 23.027323344330398,
 22.941246742114004,
 23.022165849142993,
 22.968035741449,
 23.014386779612906,
 23.0097508299951,
 22.973475731300397,
 22.9691991805352,
 23.014587594324198,
 22.973483850981793,
 23.0597213801245,
 23.026015084604495,
 23.0237821500274,
 23.031509847954794,
 23.006847596660407,
 23.0092927237975,
 22.991605519572502,
 23.0160247161092,
 22.9941063087373,
 23.066910402234896,
 23.036750971781302,
 22.966346548385104,
 22.931582925499598,
 23.036393493225106,
 22.986911236052705,
 22.966182522252396,
 23.015406249553905,
 22.9734719647456,
 23.047334590972895,
 22.990944690924593,
 23.010461210502,
 22.996481230310494,
 23.0091027605431,
 22.9862712383361,
 23.017982258268603,
 22.9480916975441,
 22.997184763707494,
 22.9680447328426,
 22.9371403179897,
 23.0132168173902,
 23.005022829331295,
 23.030812983400097,
 22.989349576689406,
 22.953696578445005,
 22.9982901564059,
 23.016000878771806,
 23.018960901885706,
 22.989278597249495,
 23.024881592026205,
 23.009748185000404,
 22.973390501096304,
 23.0883756068405,
 23.015324052350906,
 23.009093999257104,
 22.931019219057305,
 22.981513012614897,
 22.959116582078295,
 22.968789889078593,
 23.003824696652003,
 22.971500480947,
 22.977038861422002,
 23.001542582462704,
 22.974609442383695,
 22.970368075809304,
 23.058577350477506,
 23.024566086272998,
 22.9808151592881,
 22.972143625252997,
 23.047222261242695,
 22.961594571294896,
 23.012925585912996,
 22.967263556754503,
 23.021208988778,
 23.0214764401005,
 22.971856900367797,
 23.012011857688904,
 22.986338630242003,
 22.967707390661303,
 22.9284333572719,
 22.950207916535504,
 23.035953596839093,
 22.957045594077798,
 22.946267262658594,
 22.935546507987794,
 22.972954144322102,

## 1. Aggregation

### Example of grouping by one variable and doing one aggregation 

**Task**: find and print the number of unique offense types (`OFFENSE`) by ward (`WARD`)

In [134]:
ward_offense1 = df.groupby("WARD").agg(
    {"OFFENSE" : "nunique"}
)

ward_offense1

      OFFENSE
WARD
1           9
2           9
3           8
4           8
5           9
6           9
7           9
8           9

In [132]:
df.groupby("WARD")["OFFENSE"].nunique()

WARD
1    9
2    9
3    8
4    8
5    9
6    9
7    9
8    9
Name: OFFENSE, dtype: int64

In [142]:
df1 = df.groupby("WARD") #subset of bigger data frame
df2 = df1.OFFENSE.unique()
df3 = df2.apply(len)
print(df3)

WARD
1    9
2    9
3    8
4    8
5    9
6    9
7    9
8    9
Name: OFFENSE, dtype: int64

### Example of grouping by one variable and providing two summaries of the same variable

**Task**: previous showed number of offenses by ward but want to find out content of offenses in each ward; create an aggregation that summarizes both the number of unique offenses by ward and what those offenses are -- for instance, by pasting the unique offenses in that ward separated by the ";" (e.g., Theft; Burglary;...)

*Hint*: you can use the join command to paste together a list separated by some delimiter. 
    - The syntax, if we are using the comma delimiter, is: ", ".join(nameoflist)

In [168]:
offenses_summary = df.groupby('WARD').agg(
    unique_offense_count = ('OFFENSE', 'nunique'), #column
    unique_offenses = ('OFFENSE', lambda x: "; ".join(x.unique())) #column
).reset_index()

offenses_summary

,WARD,unique_offense_count,unique_offenses
0,1,9,THEFT F/AUTO; ROBBERY; THEFT/OTHER; ASSAULT W/...
1,2,9,THEFT F/AUTO; THEFT/OTHER; BURGLARY; ROBBERY; ...
2,3,8,THEFT F/AUTO; THEFT/OTHER; MOTOR VEHICLE THEFT...
3,4,8,THEFT/OTHER; THEFT F/AUTO; MOTOR VEHICLE THEFT...
4,5,9,THEFT/OTHER; THEFT F/AUTO; MOTOR VEHICLE THEFT...
5,6,9,THEFT/OTHER; ASSAULT W/DANGEROUS WEAPON; THEFT...
6,7,9,THEFT/OTHER; THEFT F/AUTO; MOTOR VEHICLE THEFT...
7,8,9,HOMICIDE; THEFT F/AUTO; THEFT/OTHER; MOTOR VEH...

In [172]:
for i, ddf in df.groupby("WARD"):
    break

In [182]:
", ".join( ddf["OFFENSE"].unique())

'THEFT F/AUTO, ROBBERY, THEFT/OTHER, ASSAULT W/DANGEROUS WEAPON, MOTOR VEHICLE THEFT, BURGLARY, HOMICIDE, SEX ABUSE, ARSON'

In [184]:
def get_unique_offenses(x):
    y = x.unique()
    return ", ".join(y)
get_unique_offenses(ddf["OFFENSE"])

'THEFT F/AUTO, ROBBERY, THEFT/OTHER, ASSAULT W/DANGEROUS WEAPON, MOTOR VEHICLE THEFT, BURGLARY, HOMICIDE, SEX ABUSE, ARSON'

In [ ]:
df.groupby("WARD")["OFFENSE"].

### Example of grouping by two variables 

**Task**: group by ward (`WARD`) and police shift (`SHIFT`) and find the offense that is most common in that ward and shift

In [90]:
ward_shift = df.groupby(["WARD", "SHIFT"]).agg(
    {"OFFENSE" : "max"}
    ).reset_index()

ward_shift

    WARD     SHIFT      OFFENSE
0      1       DAY  THEFT/OTHER
1      1   EVENING  THEFT/OTHER
2      1  MIDNIGHT  THEFT/OTHER
3      2       DAY  THEFT/OTHER
4      2   EVENING  THEFT/OTHER
5      2  MIDNIGHT  THEFT/OTHER
6      3       DAY  THEFT/OTHER
7      3   EVENING  THEFT/OTHER
8      3  MIDNIGHT  THEFT/OTHER
9      4       DAY  THEFT/OTHER
10     4   EVENING  THEFT/OTHER
11     4  MIDNIGHT  THEFT/OTHER
12     5       DAY  THEFT/OTHER
13     5   EVENING  THEFT/OTHER
14     5  MIDNIGHT  THEFT/OTHER
15     6       DAY  THEFT/OTHER
16     6   EVENING  THEFT/OTHER
17     6  MIDNIGHT  THEFT/OTHER
18     7       DAY  THEFT/OTHER
19     7   EVENING  THEFT/OTHER
20     7  MIDNIGHT  THEFT/OTHER
21     8       DAY  THEFT/OTHER
22     8   EVENING  THEFT/OTHER
23     8  MIDNIGHT  THEFT/OTHER

In [190]:
ward_shift = df.groupby(["WARD", "SHIFT"]).agg(
    {"OFFENSE" : lambda x: x.mode() }
    ).reset_index()

ward_shift

    WARD     SHIFT                     OFFENSE
0      1       DAY                 THEFT/OTHER
1      1   EVENING                 THEFT/OTHER
2      1  MIDNIGHT                 THEFT/OTHER
3      2       DAY                 THEFT/OTHER
4      2   EVENING                 THEFT/OTHER
5      2  MIDNIGHT                 THEFT/OTHER
6      3       DAY                 THEFT/OTHER
7      3   EVENING                 THEFT/OTHER
8      3  MIDNIGHT                 THEFT/OTHER
9      4       DAY                THEFT F/AUTO
10     4   EVENING                 THEFT/OTHER
11     4  MIDNIGHT                 THEFT/OTHER
12     5       DAY                THEFT F/AUTO
13     5   EVENING                 THEFT/OTHER
14     5  MIDNIGHT                 THEFT/OTHER
15     6       DAY                 THEFT/OTHER
16     6   EVENING                 THEFT/OTHER
17     6  MIDNIGHT                 THEFT/OTHER
18     7       DAY                THEFT F/AUTO
19     7   EVENING                 THEFT/OTHER
20     7  MIDNIGHT                 THEFT/OTHER
21     8       DAY                THEFT F/AUTO
22     8   EVENING                 THEFT/OTHER
23     8  MIDNIGHT  ASSAULT W/DANGEROUS WEAPON

## Summarizing over all rows or all columns (without grouping)

We can also use the `apply` function to summarize rows or columns efficiently

**Task**: find the mean lat and longitude in one line of code

In [192]:
df[["X", "Y"]].apply(np.mean) #axis = 1 : adds 2 values together then divides by two

X   -77.007049
Y    38.907618
dtype: float64

## 2. Creating new columns/transforming their type

### Simple filtering

`np.where` is in the numpy package (aliased as `np`) and operates similar to `ifelse` in R

But there is a built in pandas way to emulate this.

**Task**: create an indicator `is_theft` for any offense that contains the word "THEFT"
    
**Task**: create an indicator `is_theft_notmotor` for any offense that contains the word "THEFT" but does not contain the word "MOTOR"

In [7]:
df.head()

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,BLOCK_GROUP,CENSUS_TRACT,VOTING_PRECINCT,LATITUDE,LONGITUDE,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID
0,-77.044182,38.905654,11139598,2020/08/24 04:00:00+00,MIDNIGHT,OTHERS,HOMICIDE,1900 - 1999 BLOCK OF M STREET NW,396168.0,137533.0,...,010700 1,10700.0,Precinct 17,38.905646,-77.044180,GOLDEN TRIANGLE,2011/09/23 06:40:00+00,NaN,594430168,NaN
1,-77.023981,38.900345,5370,2020/01/17 02:39:05+00,EVENING,OTHERS,THEFT F/AUTO,800 - 899 BLOCK OF 9TH STREET NW,397920.0,136943.0,...,005802 5,5802.0,Precinct 129,38.900337,-77.023979,DOWNTOWN,2020/01/11 02:48:51+00,2020/01/17 02:48:54+00,594430173,NaN
2,-76.972651,38.857491,10251445,2020/09/11 04:00:00+00,MIDNIGHT,GUN,HOMICIDE,2300 - 2399 BLOCK OF AINGER PLACE SE,402374.0,132186.0,...,007502 1,7502.0,Precinct 134,38.857483,-76.972648,NaN,2010/09/02 04:00:00+00,2010/09/02 04:00:00+00,594430178,NaN
3,-76.972226,38.854086,10147537,2020/12/21 05:00:00+00,MIDNIGHT,OTHERS,HOMICIDE,2300 - 2499 BLOCK OF HARTFORD STREET SE,402411.0,131808.0,...,007408 2,7408.0,Precinct 115,38.854078,-76.972223,NaN,2010/10/10 02:00:00+00,NaN,594431372,NaN
4,-77.001753,38.821632,18048023,2020/10/21 04:00:00+00,MIDNIGHT,OTHERS,HOMICIDE,4600 - 4799 BLOCK OF SOUTH CAPITOL STREET,399848.0,128205.0,...,009811 1,9811.0,Precinct 125,38.821624,-77.001750,NaN,2018/03/26 08:40:06+00,2018/03/26 10:04:44+00,594431711,NaN

In [31]:
~is_theft

0         True
1        False
2         True
3         True
4         True
         ...
27926    False
27927    False
27928    False
27929    False
27930    False
Name: OFFENSE, Length: 27931, dtype: bool

In [9]:
df["is_theft"] = df["OFFENSE"].str.contains("THEFT")

# print(is_theft)

In [99]:
df["is_theft_notmotor"] = df["OFFENSE"].str.contains("THEFT") & ~df["OFFENSE"].str.contains("MOTOR")

print(is_theft_notmotor)

0        False
1         True
2        False
3        False
4        False
         ...
27926     True
27927     True
27928     True
27929    False
27930     True
Name: OFFENSE, Length: 27931, dtype: bool

### np.select

**Task**: create a new variable, `offense_summary`, where you:
        
- Recode theft offenses that use a gun or knife as the method (`METHOD`) as: violent theft
- Recode non-theft offenses that use a gun or knife as the method as: violent other
- Recode all other as non-violent

In [49]:
df.head()

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,BLOCK_GROUP,CENSUS_TRACT,VOTING_PRECINCT,LATITUDE,LONGITUDE,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID
0,-77.044182,38.905654,11139598,2020/08/24 04:00:00+00,MIDNIGHT,OTHERS,HOMICIDE,1900 - 1999 BLOCK OF M STREET NW,396168.0,137533.0,...,010700 1,10700.0,Precinct 17,38.905646,-77.044180,GOLDEN TRIANGLE,2011/09/23 06:40:00+00,NaN,594430168,NaN
1,-77.023981,38.900345,5370,2020/01/17 02:39:05+00,EVENING,OTHERS,THEFT F/AUTO,800 - 899 BLOCK OF 9TH STREET NW,397920.0,136943.0,...,005802 5,5802.0,Precinct 129,38.900337,-77.023979,DOWNTOWN,2020/01/11 02:48:51+00,2020/01/17 02:48:54+00,594430173,NaN
2,-76.972651,38.857491,10251445,2020/09/11 04:00:00+00,MIDNIGHT,GUN,HOMICIDE,2300 - 2399 BLOCK OF AINGER PLACE SE,402374.0,132186.0,...,007502 1,7502.0,Precinct 134,38.857483,-76.972648,NaN,2010/09/02 04:00:00+00,2010/09/02 04:00:00+00,594430178,NaN
3,-76.972226,38.854086,10147537,2020/12/21 05:00:00+00,MIDNIGHT,OTHERS,HOMICIDE,2300 - 2499 BLOCK OF HARTFORD STREET SE,402411.0,131808.0,...,007408 2,7408.0,Precinct 115,38.854078,-76.972223,NaN,2010/10/10 02:00:00+00,NaN,594431372,NaN
4,-77.001753,38.821632,18048023,2020/10/21 04:00:00+00,MIDNIGHT,OTHERS,HOMICIDE,4600 - 4799 BLOCK OF SOUTH CAPITOL STREET,399848.0,128205.0,...,009811 1,9811.0,Precinct 125,38.821624,-77.001750,NaN,2018/03/26 08:40:06+00,2018/03/26 10:04:44+00,594431711,NaN

In [103]:
summaries = ['violent theft', 'violent other']

conditions = [
    df.METHOD.isin(['GUN', 'KNIFE'] & df.is_theft),
    df.METHOD.isin(['GUN', 'KNIFE'] & ~df.is_theft)
]
df['offense_summaries'] = np.select(conditions, summaries, default = 'non-violent')
df

/var/folders/39/n92n7brd1t5_t9yz154q31600000gn/T/ipykernel_59035/527736995.py:4: FutureWarning: Logical ops (and, or, xor) between Pandas objects and dtype-less sequences (e.g. list, tuple) are deprecated and will raise in a future version. Wrap the object in a Series, Index, or np.array before operating instead.
  df.isin(['GUN', 'KNIFE'] & df.is_theft),

ValueError: operands could not be broadcast together with shapes (2,) (27931,)

### map.recode

**Task**: recode shifts that are MIDNIGHT or EVENING as "nighttime"; code other shift to daytime

### Using built-in pandas methods

Another way of creating variables, used either alone or in combination with np.where and np.select is to use pandas built in `str` methods

Basic structure is: `df['namestringcol'].str.someoperation`

**Task**: using a `str` method, create a new variable--`OFFENSE_NOSP`--that replaces spaces in the `OFFENSE` column with underscores

### Transforming column types

**Task**: check the type of the `START_DATE` column

In [105]:
df.START_DATE.dtype

dtype('O')

**Task**: recast the `START_DATE` column to datetime, calling this `START_DATE_CLEAN`; coerce errors rather than cleaning the string; check the type of that new col

**Task:** print the min and max of `START_DATE_CLEAN`. What happens if you try to do this with `START_DATE`?

## 3. Row and column filtering

In [ ]:
coures = ["QSS45", "QSS20", "CS01", "WRIT5"

### Row subsetting

**Task**: filter to crime reports about theft using the `is_theft` definition and that are in ward 3

In [11]:
df[(df["WARD"] == 3) & df["is_theft"]]

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,CENSUS_TRACT,VOTING_PRECINCT,LATITUDE,LONGITUDE,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID,is_theft
8,-77.078395,38.932427,20001484,2020/01/03 15:28:51+00,DAY,OTHERS,THEFT F/AUTO,3900 - 4099 BLOCK OF MASSACHUSETTS AVENUE NW,393203.00,140507.00,...,704.0,Precinct 28,38.932419,-77.078393,NaN,2020/01/02 23:33:38+00,2020/01/03 14:20:15+00,594453346,NaN,True
12,-77.063920,38.944876,20002785,2020/01/05 20:01:58+00,EVENING,OTHERS,THEFT/OTHER,4200 - 4399 BLOCK OF CONNECTICUT AVENUE NW,394459.00,141888.00,...,1303.0,Precinct 34,38.944868,-77.063918,NaN,2020/01/05 19:40:52+00,2020/01/05 19:42:06+00,594453350,NaN,True
13,-77.070772,38.956628,20003356,2020/01/07 01:11:27+00,EVENING,OTHERS,THEFT/OTHER,5100 - 5199 BLOCK OF CONNECTICUT AVENUE NW,393866.00,143193.00,...,1402.0,Precinct 50,38.956620,-77.070770,NaN,2020/01/06 20:28:26+00,2020/01/06 21:21:36+00,594453351,NaN,True
22,-77.085302,38.959915,20031068,2020/02/20 22:19:38+00,EVENING,OTHERS,THEFT/OTHER,5300 - 5399 BLOCK OF WISCONSIN AVENUE NW,392607.00,143559.00,...,1100.0,Precinct 32,38.959907,-77.085300,NaN,2020/02/20 21:05:43+00,2020/02/20 22:20:01+00,594453360,NaN,True
39,-77.077697,38.937382,20111761,2020/08/05 18:08:56+00,DAY,OTHERS,THEFT F/AUTO,3600 - 3699 BLOCK OF 39TH STREET NW,393264.00,141057.00,...,1002.0,Precinct 29,38.937374,-77.077695,NaN,2020/08/05 17:21:04+00,NaN,594453445,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27801,-77.070891,38.936810,20050233,2020/03/25 10:24:37+00,MIDNIGHT,OTHERS,THEFT/OTHER,3500 - 3599 BLOCK OF 36TH STREET NW,393854.00,140993.00,...,600.0,Precinct 27,38.936802,-77.070889,NaN,2020/03/24 15:56:42+00,2020/03/24 16:00:06+00,594980534,NaN,True
27828,-77.058884,38.936195,20025378,2020/02/11 15:28:00+00,DAY,OTHERS,THEFT/OTHER,3500 - 3599 BLOCK OF CONNECTICUT AVENUE NW,394895.00,140924.00,...,1304.0,Precinct 34,38.936187,-77.058881,NaN,2020/02/10 20:30:07+00,2020/02/11 02:30:26+00,594980726,NaN,True
27907,-77.057640,38.924692,20153221,2020/10/26 13:15:04+00,DAY,OTHERS,THEFT/OTHER,2700 - 2799 BLOCK OF 29TH STREET NW,395002.00,139647.00,...,501.0,Precinct 26,38.924684,-77.057638,NaN,2020/10/24 17:00:36+00,2020/10/25 16:00:46+00,594980943,NaN,True
27909,-77.063920,38.944876,20113247,2020/08/08 20:33:10+00,EVENING,OTHERS,THEFT/OTHER,4200 - 4399 BLOCK OF CONNECTICUT AVENUE NW,394459.00,141888.00,...,1303.0,Precinct 34,38.944868,-77.063918,NaN,2020/08/07 17:06:06+00,2020/08/07 17:16:08+00,594980968,NaN,True
27914,-77.058083,38.934832,20117502,2020/08/17 15:41:41+00,DAY,OTHERS,THEFT/OTHER,3319 - 3499 BLOCK OF CONNECTICUT AVENUE NW,394964.33,140772.69,...,1304.0,Precinct 34,38.934824,-77.058081,NaN,2020/08/17 15:16:33+00,2020/08/17 15:20:54+00,594980973,NaN,True

In [ ]:
df[df.is_theft & (df.WARD == 3)]

### Column subsetting

**Task**: select two columns--`START_DATE` and `END_DATE`--and print the head of the dataframe

In [139]:
df[df["START_DATE"]]

KeyError: "None of [Index(['2011/09/23 06:40:00+00', '2020/01/11 02:48:51+00',\n       '2010/09/02 04:00:00+00', '2010/10/10 02:00:00+00',\n       '2018/03/26 08:40:06+00', '2020/01/01 16:02:05+00',\n       '2020/01/01 22:10:20+00', '2020/01/02 00:00:28+00',\n       '2020/01/02 23:33:38+00', '2020/01/03 04:20:19+00',\n       ...\n       '2020/05/31 15:17:18+00', '2020/04/28 16:00:12+00',\n       '2020/05/03 18:47:31+00', '2020/05/02 21:00:29+00',\n       '2020/05/03 01:00:41+00', '2020/10/17 07:20:23+00',\n       '2020/10/16 23:00:10+00', '2020/10/18 16:30:23+00',\n       '2020/10/20 00:23:09+00', '2020/10/16 21:00:03+00'],\n      dtype='object', length=27931)] are in the [columns]"

**Task**: use list comprehension to automate this a bit and select all columns with the word "DATE" in the name; print the head of the dataframe

**Task**: filter reports of crime in `START_DATE_CLEAN` before May 2020 and that are located in ward 1; select the ward and `START_DATE` column and print a random sample of rows